<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/hisaab.css">
</head>

<body>
    <div class="nav-bar">
        <div class="logo">
            <h4><a href="/">KhataBook</a></h4>
         </div>
        <div class="right">
            <a href="/">Home</a>
            <a href="/createNew">Create New Hisaab</a>
        </div>
    </div>
    
    <div class="hisaab-content">
        <div class="hisaab-heading">
            <h3>Hisaab for <%=filename%> Date</h3>
        </div>
        <div class="edit-hisaab">
            <a href="/edit/<%=filename%>">Edit This Hisaab</a>
        </div>
        <div class="hisaab-data">
            <% filedata.split("\n").forEach((data)=>{ %>
                <p><%=data%></p>
           <% }) %>
            
        </div>
    </div>
        
</body>

</html>